body {
    background-color: #f8f9fa;
  }
  
  #tablero table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .celda {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  
  #panel-lateral {
    border-left: 2px solid #007bff;
  }
  
  #panel-lateral h2 {
    color: #000000;
  }
  
  form-select {
    width: auto;
  }
  